.bsp/
.cache/
.classpath/
.DS_Store
.ensime/
.ensime_cache/
.history/
.idea_modules/
.idea/
.out/
.project/
.settings/
.target/
*.eml
*.iml
*.ipr
*.iws
*~
bin/
cypress/fixtures/example.json
cypress/integration/examples/
cypress/results/
cypress/screenshots/
cypress/videos/
db/
dist/
eclipse/
lib_managed/
lib/
log/
logs/
modules/
node_modules/
out/
precompiled/
project/project/
project/target/
RUNNING_PID
server.pid
target/
test-result/
tmp/
