{
  "config": {
    "syntax": "scss"
  },
  "extends": "stylelint-config-recommended-scss",
  "plugins": [
    "stylelint-order",
    "stylelint-scss"
  ],
  "rules": {
    "at-rule-no-unknown": null,
    "block-no-empty": true,
    "block-opening-brace-space-before": "always",
    "font-family-no-duplicate-names": null,
    "font-family-no-missing-generic-family-keyword": true,
    "indentation": 2,
    "no-descending-specificity": null,
    "no-duplicate-selectors": null,
    "order/properties-alphabetical-order": true,
    "rule-empty-line-before": [
      "always",
      {
        "except": [
          "first-nested"
        ],
        "ignore": [
          "after-comment"
        ]
      }
    ],
    "scss/at-extend-no-missing-placeholder": true,
    "scss/at-if-closing-brace-newline-after": "always-last-in-chain",
    "scss/at-import-no-partial-leading-underscore": true,
    "scss/at-import-partial-extension-blacklist": [
      "css",
      "less",
      "sass",
      "scss"
    ],
    "scss/at-mixin-argumentless-call-parentheses": "always",
    "scss/at-mixin-parentheses-space-before": "always",
    "scss/dollar-variable-colon-newline-after": "always-multi-line",
    "scss/dollar-variable-colon-space-after": "always",
    "scss/dollar-variable-colon-space-before": "never",
    "scss/double-slash-comment-empty-line-before": [
      "always",
      {
        "except": [
          "first-nested"
        ]
      }
    ],
    "scss/no-duplicate-dollar-variables": [
      true,
      {
        "ignoreInside": [
          "at-rule",
          "nested-at-rule"
        ]
      }
    ],
    "scss/operator-no-unspaced": true,
    "scss/selector-no-redundant-nesting-selector": true,
    "selector-class-pattern": null,
    "string-quotes": "double"
  }
}
