/**
 * CONTENTS
 *
 * General section
 *
 * Landing Page
 *
 * User Account Details + NINO
 *
 * Amount Box
 *
 * Final Done Page
 *
 * Exception Errors
 *
 * Messaging
 *
 * Questionnaire
 *
 * Chart lines
 *
 */
/*------------------------------------*\
    #General Section
\*------------------------------------*/
.report-error {
  float: none;
}

.content__body {
  width: 66.6667%;
}
@media only screen and (max-width: 640px) {
  .content__body {
    width: 100%;
  }
}

/*------------------------------------*\
    #Landing Page
\*------------------------------------*/
.heading-large.landingpagetitle {
  margin-bottom: 0;
}

.heading-medium {
  margin-top: 0.5em;
}

div.panel-indent {
  margin: 30px 15px 45px 0;
}

/*------------------------------------*\
    #User Account Details + NINO
\*------------------------------------*/
.service-info .service-info__help {
  margin-top: 5px;
}
@media only screen and (max-width: 800px) {
  .service-info .service-info__help {
    font-size: 16px;
  }
}

/*------------------------------------*\
    #Amount Box
\*------------------------------------*/
.highlighted-event {
  padding: 1.75em 0.75em 1em;
  margin: 0px 0 1em;
}
@media only screen and (max-width: 640px) {
  .highlighted-event {
    padding: 0.5em 0.75em 0.25em 0.75em;
    margin: 0 -15px;
  }
}
.highlighted-event #amount-intro {
  color: #fff;
  font-weight: 800;
  line-height: 1.25;
  margin: 0;
  padding: 0;
  font-size: 24px;
}
@media only screen and (max-width: 640px) {
  .highlighted-event #amount-intro {
    font-size: 20px;
    line-height: 1.2;
  }
}
.highlighted-event p {
  color: #fff;
  font-weight: 800;
  line-height: 1.25;
  margin: 0;
  padding: 0;
  font-size: 24px;
}
@media only screen and (max-width: 640px) {
  .highlighted-event p {
    font-size: 20px;
  }
}
.highlighted-event p em {
  padding: 0.2em 0px 0.1em;
  display: block;
  font-size: 80px;
  line-height: 1;
  font-style: normal;
  margin-bottom: 0;
  font-weight: 800;
}
@media only screen and (max-width: 640px) {
  .highlighted-event p em {
    font-size: 53px;
    margin: 0;
  }
}
@media only screen and (max-width: 320px) {
  .highlighted-event p em {
    font-size: 43px;
    margin: 0;
  }
}
.highlighted-event #amount-perweek {
  padding-bottom: 4px;
  display: block;
  font-family: "nta",Arial,sans-serif;
  font-size: 24px;
  line-height: 1.25;
  text-transform: none;
  padding-bottom: 6px;
  font-weight: 800;
}
@media only screen and (max-width: 640px) {
  .highlighted-event #amount-perweek {
    padding-bottom: 0px;
  }
}

h1.title-spa {
  line-height: 1.09375;
  text-transform: none;
  padding-bottom: 10px;
  background-repeat: no-repeat;
  color: #0B0C0C;
  font-weight: 600;
}
@media only screen and (max-width: 640px) {
  h1.title-spa {
    margin-top: 0;
  }
}

/*------------------------------------*\
    #Exception Errors
\*------------------------------------*/
.errorMessage {
  background-color: rgba(223, 48, 52, 0.05);
  border-left: 5px solid #df3034;
  margin-bottom: 30px;
}

.icon-x {
  float: left;
  margin: 15px 0 0 15px;
  width: 30px;
  height: 30px;
}

.errorMessageContent {
  padding: 10px;
  width: 80%;
  margin-left: 65px;
}

/*------------------------------------*\
    #Messaging
\*------------------------------------*/
article h2.putting-off-header {
  padding-top: 20px;
}

/*------------------------------------*\
    #Questionnaire
\*------------------------------------*/
@media (min-width: 641px) {
  .form-field--error {
    width: inherit;
  }
}
.ni-action {
  width: 40%;
  float: left;
  text-align: right;
}

.ni-years {
  width: 20%;
  float: left;
}

.ni-notfull {
  width: 40%;
  float: left;
}

.contributions-wrapper {
  display: block;
  clear: both;
  padding: 0px 0px 0px 20%;
  margin-bottom: 5px;
  font-size: 16px;
}
@media only screen and (max-width: 640px) {
  .contributions-wrapper {
    padding: 0;
  }
}

.contributions-wrapper .contributions-header {
  font-weight: 700;
  color: #6F777B;
  margin: 25px 0 0 0;
}

.accordion dd, .ni-table dd {
  padding-bottom: 5px;
}

.accordion dd p {
  font-size: 16px;
  margin-top: 5px;
}
@media only screen and (max-width: 640px) {
  .accordion dd p {
    font-size: 14px;
  }
}

.accordion dd p.contributions-header {
  font-weight: 700;
  color: #6F777B;
  margin: 25px 0 0 0;
}

.accordion dt:not(:first-child), .ni-table dt {
  border-top: 1px solid #BFC1C3;
}

.ni-wrapper {
  display: inline-block;
  clear: both;
  width: 100%;
  padding: 18px 0 5px 0;
}

aside {
  padding-top: 30px;
  width: 30%;
}

aside h2 {
  padding-top: 15px;
  font-weight: bold;
}

.sidebar-border {
  border-top: 10px solid #005EA5;
}
@media only screen and (max-width: 640px) {
  .sidebar-border {
    display: none;
  }
}

.form-label {
  font-size: 17px;
  font-weight: bold;
}

.full-width {
  width: 100%;
}

.sidebar-mobile {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
@media only screen and (max-width: 640px) {
  .sidebar-mobile {
    position: inherit;
    width: inherit;
    height: inherit;
    padding: inherit;
    margin: inherit;
    overflow: inherit;
    clip: inherit;
    border: inherit;
  }
}

ul.listbullets {
  list-style-type: disc;
  padding-left: 20px;
}
ul.listbullets li {
  font-size: 16px;
}

.inactive {
  color: #6F777B;
}

.backlink {
  margin-top: 14px;
}

.nirecord-heading {
  margin-bottom: 0;
}

.nisummary-text {
  font-size: 16px;
  margin-top: 0;
}

.nisummary-number {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0;
}

.nirecord-taxyear {
  white-space: nowrap;
}

hr.summary-nirecord-feedback {
  margin-top: 35px;
  border-style: solid;
  border-top: 1px;
  border-color: #BFC1C3;
}

/*----------------------------------*\
    # Gaps and how to check
\*----------------------------------*/
h1.gapsinyourrecord {
  margin-top: 0.5em;
  margin-bottom: 0;
}

h2.gapsinyourrecord {
  margin-top: 1.87em !important;
  margin-bottom: 0.83em;
}

/*----------------------------------*\
    # Tabs
\*----------------------------------*/
.tabs-nav {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 5;
  border-bottom: none;
}
@media only screen and (max-width: 640px) {
  .tabs-nav {
    float: none;
  }
}

.tabs-nav li {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.3;
  font-weight: 400;
  text-transform: none;
  border-bottom: none;
  float: left;
  margin: 0 0 -1px;
  padding: 0px;
  cursor: pointer;
}
@media only screen and (max-width: 640px) {
  .tabs-nav li {
    font-size: 16px;
    line-height: 1.14;
    float: none;
    border-top: 1px solid #bfc1c3;
    padding: 0 30px;
    margin: 0 -30px;
  }
}

@media only screen and (max-width: 640px) {
  .tabs-nav li:last-child {
    border-bottom: 1px solid #bfc1c3;
  }
}

.tabs-nav li a {
  background-color: #dee0e2;
  border: 0 none;
  float: left;
  margin: 0.26316em 0.26316em 0.26316em 0;
  padding: 0.47368em 1em;
  text-align: center;
  text-decoration: none;
  color: #005ea5;
}
@media only screen and (max-width: 640px) {
  .tabs-nav li a {
    display: block;
    position: static;
    float: none;
    height: auto;
    line-height: 3.5em;
    text-align: left;
    padding: 0px;
    margin: 0;
    margin-left: 0em;
    background-color: #fff;
    text-decoration: underline;
  }
}

.tabs-nav li a:hover {
  color: #2E8ACA;
  background-color: #DEE0E2;
}
@media only screen and (max-width: 640px) {
  .tabs-nav li a:hover {
    background-color: #fff;
  }
}

.tabs-nav li a:focus {
  outline: 3px solid #ffbf47;
}

.tabs-nav li.active a {
  border: 1px solid #bfc1c3;
  border-bottom: 1px solid transparent;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0.68421em 0.94737em 0.73684em;
  background-color: #fff;
}
@media only screen and (max-width: 640px) {
  .tabs-nav li.active a {
    line-height: 3.5em;
    text-align: left;
    padding: 0px;
    margin-bottom: 0px;
    border: none;
    color: #000;
    text-decoration: none;
    margin-bottom: 0.7px;
  }
}

.tabs-nav li:first-child a {
  margin-left: 0;
}
@media only screen and (max-width: 640px) {
  .tabs-nav li:first-child a {
    border-left: none;
  }
}

@media only screen and (max-width: 640px) {
  .tabs-nav li:last-child.active a {
    border-left: medium none;
    display: block;
    position: static;
    float: none;
    height: auto;
    line-height: 3.5em;
    text-align: left;
    padding: 0px;
    margin-bottom: 0px;
    margin-left: 0;
  }
}

.tab-content {
  margin-top: 2em;
}
@media only screen and (max-width: 640px) {
  .tab-content {
    margin: 0px -1em;
  }
}

.tab-content p {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}

table.amounts {
  border: none;
  margin-top: 1em;
  border-top: 1px solid #bfc1c3;
}

.improve-forecast {
  margin-bottom: 0.5em;
  margin-top: 1em;
  overflow: hidden;
}

.tab-panel {
  padding: 1em 0px 0px;
  border-top: 1px solid #BFC1C3;
  clear: both;
  width: auto;
}
@media only screen and (max-width: 640px) {
  .tab-panel {
    border-top: 0;
    padding: 0 0;
  }
}

/*----------------------------------*\
    # Chart lines
\*----------------------------------*/
.chart-block {
  clear: both;
  margin-top: 25px;
}

.chart-block span.graph-title {
  font-weight: 800;
  font-size: 19px;
}
@media only screen and (max-width: 640px) {
  .chart-block span.graph-title {
    font-size: 16px;
  }
}

.chart-block .footnote {
  float: left;
  margin-top: -15px;
  margin-bottom: 25px;
}

.graph {
  float: left;
  width: 100%;
  margin-top: -2px;
}

.graph li {
  position: relative;
  display: block;
  background: #C1DFE4;
  height: 37px;
}
@media only screen and (max-width: 640px) {
  .graph li {
    height: 27px;
    margin-left: 0;
  }
}

.graph li .amount {
  display: block;
  height: 100%;
  background: #28A197;
  line-height: 1.6em;
  color: #fff;
  text-align: right;
  font-size: 25px;
  font-weight: 800;
}
@media only screen and (max-width: 640px) {
  .graph li .amount {
    font-size: 20px;
  }
}

.graph li .amount > * {
  padding-right: 10px;
}

/*----------------------------------*\
    # Minimum Qualifying Period
\*----------------------------------*/
.panel-indent.mqp {
  margin-top: 30px;
  margin-bottom: 45px;
}

.summary {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

h2.cope-title {
  margin-top: 1.87em !important;
}

table.cope-table p {
  font-size: 19px;
}
@media only screen and (max-width: 647px) {
  table.cope-table p {
    font-size: 16px;
  }
}
