// nirecord.scss


.ni-action {
  float: left;
  text-align: right;
  width: 40%;
  @media only screen and (max-width: 640px) {
    width: 30%;
  }
}

.ni-years {
  float: left;
  width: 25%;
  @media only screen and (max-width: 640px) {
    width: 35%;
  }
}

.ni-notfull {
  float: left;
  width: 35%;
}

.ni-full, .inactive {
  float: right;
  width:75%;
  @media only screen and (max-width: 640px) {
      width: 65%;
  }
}

.contributions-wrapper {
  clear: both;
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
  padding: 0 0 0 25%;
  
  @media only screen and (max-width: 640px) {
    padding: 0;
  }
  
  .contributions-header {
    font-weight: 700;
    color: $secondary-text-colour;
    margin: 25px 0 0 0;
   }
}

.accordion {
  border-top: none;
  dd {
    padding-bottom: 5px;
    p {
      font-size: 16px;
      margin-top: 5px;
      @media only screen and (max-width: 640px) {
        font-size: 14px;
      }
      .contributions-header {
        font-weight: 700;
        color: $secondary-text-colour;
        margin: 25px 0 0 0;
      }
    }
  }
   
  dt {
    border-top: 1px solid $border-colour;
  }
}


.ni-table dd {
  padding-bottom: 5px;
}

.ni-wrapper {
  display: inline-block;
  clear: both;
  width: 100%;
  padding: 18px 0 5px 0;
}



aside {
  padding-top: 30px;
  width: 30%;
  h2 {
    padding-top: 15px;
    font-weight: bold;
  }
}



.sidebar-border {
  border-top: 10px solid $govuk-blue;
  @media only screen and (max-width:640px){
    display: none;
  }
}

.form-label{
  font-size: 17px;
  font-weight: bold;
}

.full-width {
  width: 100%;
}

.sidebar-mobile {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  @media only screen and (max-width: 640px){

    position: inherit;
    width: inherit;
    height: inherit;
    padding: inherit;
    margin: inherit;
    overflow: inherit;
    clip: inherit;
    border: inherit;
  }

}

ul.listbullets {
  list-style-type: disc;
  padding-left: 20px;
  li {
    font-size: 16px;
  }
}

.inactive {
  color: $secondary-text-colour;
}

.backlink {
  margin-top: 14px;
}

.nirecord-heading {
  margin-bottom: 0;
  margin-top: 30px;

  @media only screen and (max-width: 640px){
    margin-top: 0px;
  }
}

.nisummary-text {
  font-size: 16px;
  margin-top: 0;
}

.nisummary-number {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0;
}

.nirecord-taxyear {
  white-space: nowrap;
}

