
/**
 * CONTENTS
 *
 * General section
 *
 * Breadcrumb
 *
 * Landing Page
 *
 * Amount Box
 *
 * Exception Errors
 *
 * Questionnaire
 *
 * Chart lines
 *
 * Cope table
 *
 * Survey form styling
 */

 
$help-notice-background:'/checkmystatepension/assets/img/icons/icon-important.png';

@import 'colours';

@import 'nirecord';

$light-bg-chart-bar:#C1DFE4;
$background-error-message:rgba(223,48,52,0.05);



/*------------------------------------*\
    #General Section
\*------------------------------------*/

.report-error {

  float: none;
  
}

h2.heading-medium {
  margin-top: 1.875em !important;
  @media only screen and (max-width: 640px) {
    font-size: 18px;
  }
}

h2.summary {
  margin-top: 1em !important;
}

.grid-wrapper {
    margin: 0;
}


.top-title-heading {
  margin-bottom: 0;
  margin-top: 0.5em;
}

.mainpage {
  @media only screen and (min-width: 640px) {
    width: 66.666%;
  }
}

/*------------------------------------*\
    #HEADER - Global Breadcrumb
\*------------------------------------*/

#global-breadcrumb {
  border-bottom: 0;
  padding-bottom: 0;
}

#global-breadcrumb ol {
  padding: .75em 0 .55em;
}

#global-breadcrumb ol li a:focus {
  outline: 3px solid #ffbf47;
}

.service-info-p {
  color: $grey-1;
  font-size: 16px;
  font-family: nta,Arial,sans-serif;
  font-weight: 300;
  line-height: 1.25;
  text-transform: none;
  margin-bottom: 5px;
}

.logo {
    display: none;
}

/*------------------------------------*\
    #Landing Page
\*------------------------------------*/


.heading-large.landingpagetitle {
  margin-bottom: 0;
}

div.panel-indent{
  margin: 30px 15px 45px 0;
}

#content .welcome-msg {
  font-size: 48px;
  margin-top: 30px;
  margin-bottom: 60px;
}

#content #continue {
  margin: 0 15px 15px 0;
}

.verify-logo {
  height: 50px;
  float: left;
  margin-right: 10px;
}

.verify-block {
  text-transform: uppercase;
  font-size: 26px;
  line-height: 26px;
}

.sign-in-grid .grid .inner-block {
  margin: 0;
  padding-right: 30px;
  padding-left: 30px;

  @media only screen and (max-width: 640px) {
    padding: 0;
  }
}

.sign-in-grid .left .inner-block {
  border-right: 3px solid $grey-2;
  padding-left: 0;

  @media only screen and (max-width: 640px) {
    border: 0;
  }
}


/*------------------------------------*\
    #Amount Box
\*------------------------------------*/

.highlighted-event {
  padding:1.75em 0.75em 1.25em 0.75em;
  margin: 1.5em 0 1em;

  @media only screen and (max-width: 640px) {
    padding: 0.5em 0.75em 0.25em 0.75em;
    margin: 0 -15px;
   }
    
  p {        
    color: $page-colour;            
    font-weight: 800;
    line-height: 1.25;
    margin: 0;
    padding: 0;
    font-size: 24px;
    @media only screen and (max-width: 640px) {
      font-size: 20px;
    }
    em { 
      padding: 0.2em 0px 0.1em;
      display: block;
      font-size: 80px;
      line-height: 1;
      font-style: normal;
      margin-bottom: 0;
      font-weight: 800;        
      @media only screen and (max-width: 640px) {
        font-size: 53px;
        margin: 0;
      }
      @media only screen and (max-width: 320px) {
        font-size: 43px;
        margin: 0;
      }        
    }
 } 
}

h1.title-sp {
  line-height: 1.09375;
  text-transform: none;    
  padding-bottom: 10px;
  background-repeat: no-repeat;
  color: $text-colour;
  font-weight: 600;
  margin-top: 30px;
  @media only screen and (max-width: 640px) {
    margin-top: 0; 
  }
}



/*------------------------------------*\
    #Exception Errors
\*------------------------------------*/



.errorMessage {
  background-color: $background-error-message;
  border-left: 5px solid $mellow-red;
  margin-bottom: 30px;
}

.icon-x {
  float:left;
  margin: 15px 0 0 15px;
  width: 30px;
  height: 30px;
}

.errorMessageContent {
  padding: 10px;
  width: 80%;
  margin-left: 65px;
}


/*------------------------------------*\
    #Questionnaire
\*------------------------------------*/

@media (min-width : 641px) {

    .form-field--error {
        width: inherit;
    }

}

/*----------------------------------*\
    # Chart lines
\*----------------------------------*/


.chart-block {
  clear: both;
  margin-top: 25px;
  margin-bottom: 80px;
  span.graph-title {
    font-weight: 800;
    font-size: 19px;
    @media only screen and (max-width: 640px) {
      font-size: 16px;
    }
  }
  .footnote {
    float:left;
    margin-top: -15px;
    margin-bottom: 25px;
  }
}

.graph
{
  float: left; 
  width: 100%;
  margin-top: -2px;
  
  li {
    position: relative;
    display: block;   
    background: $light-bg-chart-bar;
    height: 37px;
    @media only screen and (max-width: 640px) {
      height: 27px;
      margin-left: 0;
    }
    .amount
    {
      display: block;   
      height: 100%; 
      background: $turquoise;   
      line-height: 1.6em;
      color: $page-colour;
      text-align: right;
      font-size: 1.3em;
      font-weight: 800;
      @media only screen and (max-width: 640px) {
        font-size: 0.8em;
        line-height: 2em;
      }
      & > * {
        padding-right: 10px;
      }      
    }
  }
}
  
/*----------------------------------*\
    # Cope Table
\*----------------------------------*/


table.cope-table td {
  font-size: 19px;
  @media only screen and (max-width: 647px) {
    font-size: 16px;
  } 
}

table.cope-table th {
  font-size: 19px;
  @media only screen and (max-width: 647px) {
    font-size: 16px;
  }
}

table.cope-table .cope-table-number {
  text-align: right;
}

/*------------------------------------*\
    #Survey form styling
\*------------------------------------*/

fieldset, label.heading-small {
  margin-top: 2em;

}

.email {

  display: none;
  padding-left: 0.78em;  
}

input[name="email"] {
  width: 75%;
}