@import play.api.Play.current
@import uk.gov.hmrc.urls.Link

@(langMap  : Map[String, Lang], langToCall : (String => Call), customClass: Option[String] = None, appName: Option[String] = None)(implicit lang: Lang)

<p class="@if(customClass.isDefined) {@customClass.get}">
    @langMap.map { case (key: String, value: Lang) =>
            @if(lang.code != value.code) {
                @Link.toInternalPage(
                    id      = Some(s"$key-switch"),
                    url     = s"${langToCall(key)}",
                    value   = Some(key.capitalize),
                    dataAttributes = Some(Map("journey-click" -> s"${appName.fold("")(a=>a)}:language: ${value.code}"))
                ).toHtml
            } else {
               @key.capitalize
            }
            @if(key != langMap.last._1) { @Html(" | ") }
    }
</p>