.js-enabled #printLink {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASAgMAAAAvVbb5AAAACVBMVEX///////8KDAwmYEUdAAAAAXRSTlMAQObYZgAAADBJREFUCFtjYOBa1cDAoBkKJFYCCSYwEYpCrAICZCI0FEhkrURmQRRnrYRpW7WqAQAlGR86Ip1rwwAAAABJRU5ErkJggg==");
  background-repeat: no-repeat;
  background-position: .25em 50%;
  background-size: 1em auto;
  margin-top: 1em;
  padding-left: 1.5em;
  zoom: 1;
}

