// nirecord.scss


.ni-action {
  float: left;
  text-align: right;
  width: 40%;
  @media only screen and (max-width: 640px) {
    width: 30%;
  }
}

.ni-years {
  float: left;
  width: 25%;
  @media only screen and (max-width: 640px) {
    width: 35%;
  }
}

.ni-notfull {
  float: left;
  width: 35%;
}

.inactive, .ni-full {
  float: right;
  width:75%;
  @media only screen and (max-width: 640px) {
      width: 65%;
  }
}

.contributions-wrapper {
  clear: both;
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
  padding: 0 0 0 25%;
  
  @media only screen and (max-width: 640px) {
    padding: 0;
  }
  
  .contributions-header {
    font-weight: 700;
    color: $secondary-text-colour;
    margin: 25px 0 0 0;
   }
}

.accordion {
  border-top: none;
  overflow: hidden;
  dd {
    padding-bottom: 5px;
    p {
      font-size: 16px;
      margin-top: 5px;
      @media only screen and (max-width: 640px) {
        font-size: 14px;
      }
      .contributions-header {
        font-weight: 700;
        color: $secondary-text-colour;
        margin: 25px 0 0 0;
      }
    }
  }
   
  dt {
    border-top: 1px solid $border-colour;
  }
}


.ni-table dd {
  padding-bottom: 5px;
}

.ni-wrapper {
  display: inline-block;
  clear: both;
  width: 100%;
  padding: 18px 0 5px 0;
}



aside {
  padding-top: 30px;
  width: 30%;
  h2 {
    font-weight: bold;
  }
}

ul.listbullets {
  list-style-type: disc;
  padding-left: 20px;
  li {
    font-size: 16px;
  }
}

.inactive, .full-inactive {
  color: $secondary-text-colour;
}

.backlink {
  margin-top: 14px;
}


.nisummary-text {
  font-size: 16px;
  margin-top: 0;
}

.nisummary-number {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0;
}

.nirecord-taxyear {
  white-space: nowrap;
}


.page-info {
    color: $grey-1;
    font-size: 18px;
}

@media only screen and (min-width: 641px) {
    .page-info {
        font-size: 27px;
        margin-bottom: 5px;
    }
}

.titleWithPageInfo {
    margin-top: 0;
    margin-bottom: 1.5em;
}

#print-sp-link, #print-ni-link {
    background: transparent no-repeat 0 50%;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASAgMAAAAvVbb5AAAACVBMVEX///////8KDAwmYEUdAAAAAXRSTlMAQObYZgAAADBJREFUCFtjYOBa1cDAoBkKJFYCCSYwEYpCrAICZCI0FEhkrURmQRRnrYRpW7WqAQAlGR86Ip1rwwAAAABJRU5ErkJggg==");
    padding: 0.5em 0 0.5em 28px;
    zoom:1;
    margin-top: 1em;
}

.panel-indent {
    margin: 2em 0;
}