
/**
 * CONTENTS
 *
 * General section
 *
 * Breadcrumb
 *
 * Landing Page
 *
 * Amount Box
 *
 * Questionnaire
 *
 * Chart lines
 *
 * Cope page
 *
 * Survey form styling
 */
 
$breadcrumb: '/check-your-state-pension/assets/images/icons/breadcrumb-separator.png';

@import 'colours';

@import 'nirecord';

$light-bg-chart-bar:#C1DFE4;


/*------------------------------------*\
    #General Section
\*------------------------------------*/

.report-error {
  float: none;
}

h2.heading-medium {
  margin-top: 1.875em !important;
  @media only screen and (max-width: 640px) {
    font-size: 18px;
  }
}

h2.summary {
  margin-top: 1em !important;
}

.grid-wrapper {
    margin: 0;
}

.top-title-heading {
  margin-bottom: 0;
  margin-top: 0.5em;
}
.heading-bottom-margin{
@media only screen and (max-width: 640px) {
   margin-bottom: .5em;
  }

}

.mainpage {
  @media only screen and (min-width: 640px) {
    width: 63.666%;
  }
}

.nowrap {
  white-space:nowrap;
}

.helpline-sidebar {
  border-top: 10px solid $govuk-blue;
}

.backlink {
  @media only screen and (max-width: 640px) {
    display: none;
  }
}

/*------------------------------------*\
    #HEADER - Global Breadcrumb
\*------------------------------------*/

#global-breadcrumb {
  border-bottom: 0;
  padding-bottom: 0;
  nav ol li {
    background-image:url($breadcrumb)
  }
  ol {
    padding: .75em 0 .55em;
    li a:focus {
      outline: 3px solid #ffbf47;
    }
  }
}

.service-info-p,  div.last-login>p {
  color: $grey-1;
  font-size: 16px;
  font-family: nta,Arial,sans-serif;
  font-weight: 300;
  line-height: 1.25;
  text-transform: none;
  margin-bottom: 5px;
}

.logo {
    display: none;
}

/*------------------------------------*\
    #Landing Page
\*------------------------------------*/

div.panel-indent{
  margin: 30px 15px 45px 0;
}

#content #continue {
  margin: 0 15px 15px 0;
}

.verify-logo {
  height: 50px;
  float: left;
  margin-right: 10px;
}

.verify-block {
  text-transform: uppercase;
  font-size: 26px;
  line-height: 26px;
}

.sign-in-grid .grid .inner-block {
  margin: 0;
  padding-right: 30px;
  padding-left: 30px;

  @media only screen and (max-width: 640px) {
    padding: 0;
  }
}

.sign-in-grid .left .inner-block {
  border-right: 3px solid $grey-2;
  padding-left: 0;

  @media only screen and (max-width: 640px) {
    border: 0;
  }
}

/*------------------------------------*\
    #Amount Box
\*------------------------------------*/

.highlighted-event, .govuk-box-highlight {
  padding:1.75em 0.75em 1.25em 0.75em;
  margin: 1.5em 0 1em;

  @media only screen and (max-width: 640px) {
    padding: 0.5em 0.5em 0.25em 0.75em;
    margin: 0 -15px;
   }
    
  p {        
    color: $page-colour;            
    font-weight: 800;
    line-height: 1.25;
    margin: 0;
    padding: 0;
    font-size: 24px;
    @media only screen and (max-width: 640px) {
      font-size: 20px;
    }
    em { 
      padding: 0.2em 0px 0.1em;
      display: block;
      font-size: 80px;
      line-height: 1;
      font-style: normal;
      margin-bottom: 0;
      font-weight: 800;
          @media only screen and (max-width: 800px) {
                   font-size: 53px;
                   margin: 0;
                 }
      @media only screen and (max-width: 640px) {
        font-size: 43px;
        margin: 0;
      }
      @media only screen and (max-width: 320px) {
        font-size: 33px;
        margin: 0;
      }        
    }
 } 
}


/*------------------------------------*\
    #Questionnaire
\*------------------------------------*/

@media (min-width : 641px) {

    .form-field--error {
        width: inherit;
    }
}

textarea {
  height: 13em;
}

/*----------------------------------*\
    # Chart lines
\*----------------------------------*/

.chart-block {
  clear: both;
  margin-top: 25px;
  margin-bottom: 80px;
  span.graph-title {
    font-weight: 800;
    font-size: 19px;
    @media only screen and (max-width: 640px) {
      font-size: 16px;
    }
  }
  .footnote {
    float:left;
    margin-top: -15px;
    margin-bottom: 25px;
  }
}

.graph
{
  float: left; 
  width: 100%;
  margin-top: -2px;
  
  li {
    position: relative;
    display: block;   
    background: $light-bg-chart-bar;
    height: 37px;
    @media only screen and (max-width: 640px) {
      height: 27px;
      margin-left: 0;
    }
    .amount
    {
      display: block;   
      height: 100%; 
      background: $turquoise;   
      line-height: 1.6em;
      color: $page-colour;
      text-align: right;
      font-size: 1.3em;
      font-weight: 800;
      @media only screen and (max-width:972px) {
         min-width:46%;
      }
      @media only screen and (min-width: 782px) and (max-width:948px) {
         min-width:48%;
      }
      @media only screen and (min-width: 702px) and (max-width:781px) {
         min-width:54%;
      }
      @media only screen and (min-width: 641px) and (max-width:701px) {
          min-width:60%;
      }
      @media only screen and (max-width: 640px) {
        font-size: 1em;
        line-height: 2em;
      }
      @media only screen and (max-width: 407px) {
         min-width:40%;
      }
      @media only screen and (max-width: 398px) {
          min-width:42%;
      }
      @media only screen and (max-width : 370px) and (min-width: 321px) {
          min-width:50%;
      }
      @media only screen and (max-width : 320px) {
           min-width:60%;
      }
      & > * {
        padding-right: 10px;
      }      
    }
  }
}
  
/*----------------------------------*\
    # Cope Page
\*----------------------------------*/

.copeback {
  display: none;
  @media only screen and (max-width: 640px) {
      display: inline-block;
  }
}

/*------------------------------------*\
    #Survey form styling
\*------------------------------------*/

fieldset {
  margin-top: 2em;
}

.email {
  padding-left: 0.78em;  
}

input[name="email"] {
  width: 75%;
}

.form-field--error {
  border-left: 5px solid $red;
}

.form-field--error .form-control {
  border: 5px solid $red;
}

.section-border {
    border-bottom: 5px solid #005ea5;
    margin-bottom: 20px;
}
.align-right{
text-align : right;
}
 .summary-list-item{
     display : list-item
 }
.lang-select{
    border-bottom: 0px;
    float: right;
    padding: 0.65em 0px;
    text-align: right;
    width: 100%;
    font-size: 16px;
    }